.link {
  display: flex;
  align-items: center;
  gap: 8px;
  p {
    font-weight: 400;
    font-size: 16px;
    transition: .2s ease color;
  }
  &.active {
    p {
      border-bottom: 2px var(--red-color) solid;
    }
  }

  &:hover {
    p {
      color: var(--red-hover-color)!important;
    }
  }
}
a[href^="tel:"] {
  p {
    color: var(--red-color) !important;
    font-size: 16px;
    font-weight: 700;
  }
}


