.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 0 32px;
  background-image: linear-gradient(180deg, transparent 95%, var(--black-color) 100%), url("@/assets/backCard.png");
  background-size: cover;

  .wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 175px;
    row-gap: 32px;
  }
}